body{ 
    overflow:hidden;
    height:100%;
    margin:0;
    padding:0;
    background:url(img/sky.jpg); 
}
 
.cloud {
    position: absolute;
    z-index: 0; 
    animation: cloud 20s infinite forwards;
    background: url(img/cloud.png);
    height: 100vh;
    width: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0; 
}

@keyframes cloud {
    from{
        left:-1000px;
        opacity:0;
    }
    to{
        left:100%;
        opacity:1
    }
}

.cable{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
    margin-top: 500px;
}

.cable path {
    stroke:black;
    stroke-width:5px; 
    fill:none;
    width:100%;  
}

.cable path:nth-child(1){
    d: path('M0,80 C600,200 2000,0 2000,30');
    animation: cable1 .3s linear forwards;
    animation-delay: 4.95s;
}

.cable path:nth-child(2){
    d: path('M0,40 C600,250 2000,0 2000,30');
    animation: cable2 .3s linear forwards;
    animation-delay: 4.95s;
}

@keyframes cable1{
    to{ 
        d: path('M0,80 C600,200 2000,0 2000,30');
    }
    from{
        d: path('M0,40 C600,250 2000,0 2000,30');
    }
}

@keyframes cable2{
    to{
        d: path('M0,40 C600,250 2000,0 2000,30') 
    }
    from{
        d: path('M0,80 C600,200 2000,0 2000,30')
    }
}

.crow-move{
    width:300px;
    height:300px;
    margin: 0; 
    position: absolute; 
    animation: fly 15s linear forwards;
    animation-delay:2s;
}

.crow-move.second{
    animation: fly2 15s linear forwards;    
    -webkit-animation-delay: 15s;
    animation-delay: 6s;
}

@keyframes fly {
    0%{     
        top:0;
        right:0;
    } 
    20%, 100%{ 
        top:420px;
        right:320px;
    } 
}

@keyframes fly2 {
    0%{     
        top:0;
        left:0;
    } 
    20%, 100%{ 
        top:420px;
        left:320px;
    } 
}

.crow-move .crow-image{ 
    width:100%;
    height:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    animation: crow 15s linear forwards; 
    animation-delay:2s;
}


.crow-move.second .crow-image{  
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    animation: crow2 15s linear forwards ; 
    -webkit-animation-delay: 6s; 
    animation-delay: 6s;
}


@keyframes crow {
    0%,10%{/*crow volando*/
        background-image: url(svg/crow-fly-1.svg);
    }
    10%,20%{/*crow planeando*/
        background-image: url(svg/crow-fly-2.svg);
    }
    20%,30%{/*crow aterrizando*/
        background-image: url(svg/crow-fly-3.svg);
    }
    30%,40%{/*crow parado*/
        background-image: url(svg/crow-stop-1.svg);   
    }
    40%{/*crow se agacha*/
        background-image: url(svg/crow-stop-2.svg);   
    }
    50%{/*crow parado*/
        background-image: url(svg/crow-stop-1.svg);
    }
    60%, 70%{ /*crow gira la cabeza*/
        background-image: url(svg/crow-stop-3.svg);
    } 
    80%{
        background-image: url(svg/crow-stop-1.svg);   
    }
    90%,100%{/* crow gira la cabeza de nuevo*/
        background-image: url(svg/crow-stop-3.svg);   
    }
}

@keyframes crow2 {
    0%,10%{/*crow volando*/
        background-image: url(svg/crow-fly-1.svg);
    }
    10%,20%{/*crow planeando*/
        background-image: url(svg/crow-fly-2.svg);
    }
    20%,30%{/*crow aterrizando*/
        background-image: url(svg/crow-fly-3.svg);
    }
    30%,40%{/*crow parado*/
        background-image: url(svg/crow-stop-1.svg);   
    }
    40%{/*crow se agacha*/
        background-image: url(svg/crow-stop-2.svg);   
    }
    50%{/*crow parado*/
        background-image: url(svg/crow-stop-1.svg);
    }
    60%, 70%{ /*crow gira la cabeza*/
        background-image: url(svg/crow-stop-3.svg);
    } 
    80%{
        background-image: url(svg/crow-stop-1.svg);   
    }
    90%,100%{/* crow gira la cabeza de nuevo*/
        background-image: url(svg/crow-stop-3.svg);   
    }
}